/* FOOTER */
.pie{
    background-image: linear-gradient( $color2, $color3);
    height: 100%;
    padding: 10px;
    margin-top: 20px;
    .parrafo_footer{
        text-align: center;
    }
    &__menu{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item{
        list-style: none;
    }
    &__link{
        font-size: 18px;
        color: $blanco;
        text-decoration: none;
        font-size: 20px;
    }
    &__link:hover{
        color: $negro;
    }
    &__designed{
        font-size: 1rem;
        text-align: center;
    }
}
.footerNewsletter{
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    .footerNewsletter__form{
        justify-content: center;
    }
    form {
        background: $blanco;
        padding: 6px 10px;
        position: relative;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        input[type="email"] {
            border: 0;
            padding: 4px 8px;
            width: 80%;
        }
        input[type="submit"] {
            position: absolute;
            top: 0;
            right: -1px;
            bottom: 0;
            border: 0;
            background: none;
            font-size: 16px;
            padding: 0 20px;
            background: $negro;
            color: $blanco;
            transition: 0.3s;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
            border-radius: 50px;
          }
        input[type="submit"]:hover {
            background:$color3;
            color: $negro;
        }  
    }
    &__form{
        max-width: 100%;
    }
}
ul#iconos {
    width: 108px;
    height: 72px;
    margin: 5px auto;
    padding: 5px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
ul#iconos li {
    list-style: none;
    float: left;
    a{
        width: 36px;
        height: 36px;
        background: url(../img/iconos/iconos.png) no-repeat;
        transition: all 0.5s ease;
        display: block;
        }
    }
#iconos li#facebook a{
    background-position: 0 0;
}
#iconos li#instagram a {
    background-position: -36px 0;
}
#iconos li#github a {
    background-position: -72px 0;
}
#iconos li#facebook a:hover{
    background-position: 0 -36px;
}
#iconos li#instagram a:hover {
    background-position: -36px -36px;
}
#iconos li#github a:hover {
    background-position: -72px -36px;
}

