@media (max-width: 768px){
    header{
        height: 60px;
        position: static;
      }
    .titulo__principal{
        margin: 10px;
    }
    .productos_img{
    justify-content: center;
        .productos_contenido{
            width: auto;
        }
    }
    .bloque{
        width: 90%;
        margin: 30px 10px 5px;
    }
}
@media (min-width: 768px){
    .mail{
        width: 50%;
        justify-content: center;
    }

}

