.bloque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.bloque_principal{
    @extend .tabla;
    p{
        text-align: justify;
    }
}
.ico_pago{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.tarjeta:hover{
    transform:scale(1.1);
}
.ico_envio{
    display: flex;
    justify-content: center;
}
.ico_truck{
    width: 400px;
}

