.bloque{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;
}
.bloque_principal{
    text-align: center;
    p{
        text-align: justify;
    }
}
.ico_pago{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.tarjeta:hover{
    transform:scale(1.1);
}
.ico_envio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.ico_truck{
    width: 350px;
}

